nav
{
    padding: 20px 10px;
    background-color:#eee;
    justify-content: space-between;

}

ul
{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0;
}



li
{
    padding:10px;
    text-align: right;
}

a
{
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color:black;
    padding :5px 10px;

}

a:hover
{
    background-color:lightgreen;
    border-radius: 5px;
    
}